In [1]:
### Check whether the number is positive
num=8
if num > 0:
    print("positive")

positive

In [2]:
num=-8
if num > 0:
    print("positive")

In [4]:
num=-8
if num > 0:
    print("positive")
else:
    print("negative")

negative

In [5]:
num=0
if num > 0:
    print("positive")
else:
    print("negative")

negative

In [6]:
num=0
if num > 0:
    print("positive")
elif num==0:
    print("zero")
else:
    print("negative")

zero

In [7]:
num=-1
if num > 0:
    print("positive")
elif num==0:
    print("zero")
else:
    print("negative")

negative

In [8]:
num=8
if num > 0:
    print("positive")
elif num==0:
    print("zero")
else:
    print("negative")

positive

In [31]:
age= 19.9

if 0<=age<3:
    print("No fare for age group 0-3")
elif 3<=age<10:
    print("Bus fare is 20")
elif 10<=age<20:
    print("Bus fare is 25")
else:
    print("Bus fare is 30")

Bus fare is 25

In [36]:
num1=45
num2=35
num3=50
if num1>num2:
    print(num1,"is greater")
else:
    if num3>num2:
        print(num3,"is greater")
    else:
        print(num2,"is greater")

45 is greater

In [45]:
num1=500
num2=40000
num3=3400
if num1>num2 and num1>num3:
    print(num1,"is greater")
else:
    if num3>num2:
        print(num3,"is greater")
    else:
        print(num2,"is greater")

40000 is greater

In [48]:
num=5
addition=0
i=1
while i<=num:
    addition=addition+i
    i=i+1
print(addition)

15

In [52]:
num=range(1,100)
addition=0
for i in num:
    addition=addition+i 
print(addition)

4950

In [56]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [58]:
##list of fruits->apple banana,cherry-> for
fruits=["apple","banana","cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [59]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [64]:
person={"name":"A","age":"12","city":"xyz"}
for key,value in person.items():
    print(key,":",value)

name : A
age : 12
city : xyz

In [66]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [67]:
i = 5
while i > 0:
    print(i)
    i -= 1

5
4
3
2
1

In [69]:
i = 5
while i >= 1:
    print(i)
    i -= 1

5
4
3
2
1

In [71]:
num = 0
i = 1
while i<=10:
    num =  num+1
    if num % 2 != 0:
        print(num)
        i=i+1

1
3
5
7
9
11
13
15
17
19

In [74]:
text="Pyspark"
for letter in text:
    if letter =="k":
        break
    print(letter)

P
y
s
p
a
r

In [77]:
text="Pyspark"
for letter in text:
    if letter =="a":
        continue
    print(letter)

P
y
s
p
r
k

In [79]:
text="pyspark"
for letter in text:
    if letter =="p":
        break
    print(letter)

In [81]:
text = "DataSciencce"
i=0
for l in text:
    if l == "c" :
        i = i+1
        if i== 3:
            break
    print(l)

D
a
t
a
S
c
i
e
n
c