In [0]:
from pyspark.sql import SparkSession

In [0]:
spark=SparkSession.builder.appName("mpg").getOrCreate()

In [0]:
spark

Load the dataframe

In [0]:
df1 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/nivimachinelearning@gmail.com/auto_mpg.csv",inferSchema="True")

In [0]:
df1.printSchema()

root
 |-- mpg: double (nullable = true)
 |-- cyl: integer (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: string (nullable = true)
 |-- wt: integer (nullable = true)
 |-- acc: double (nullable = true)
 |-- yr: integer (nullable = true)
 |-- origin: integer (nullable = true)
 |-- car name: string (nullable = true)

In [0]:
df1.show(5)

+----+---+-----+---+----+----+---+------+--------------------+
| mpg|cyl| disp| hp|  wt| acc| yr|origin|            car name|
+----+---+-----+---+----+----+---+------+--------------------+
|18.0|  8|307.0|130|3504|12.0| 70|     1|chevrolet chevell...|
|15.0|  8|350.0|165|3693|11.5| 70|     1|   buick skylark 320|
|18.0|  8|318.0|150|3436|11.0| 70|     1|  plymouth satellite|
|16.0|  8|304.0|150|3433|12.0| 70|     1|       amc rebel sst|
|17.0|  8|302.0|140|3449|10.5| 70|     1|         ford torino|
+----+---+-----+---+----+----+---+------+--------------------+
only showing top 5 rows

filter 5 rows where mpg>20

In [0]:
df1.filter(df1.mpg>20).show(5)

+----+---+-----+---+----+----+---+------+--------------------+
| mpg|cyl| disp| hp|  wt| acc| yr|origin|            car name|
+----+---+-----+---+----+----+---+------+--------------------+
|24.0|  4|113.0| 95|2372|15.0| 70|     3|toyota corona mar...|
|22.0|  6|198.0| 95|2833|15.5| 70|     1|     plymouth duster|
|21.0|  6|200.0| 85|2587|16.0| 70|     1|       ford maverick|
|27.0|  4| 97.0| 88|2130|14.5| 70|     3|        datsun pl510|
|26.0|  4| 97.0| 46|1835|20.5| 70|     2|volkswagen 1131 d...|
+----+---+-----+---+----+----+---+------+--------------------+
only showing top 5 rows

In [0]:
### select the car name and mpg(5 records)
df1.select("car name","mpg").show(5)

+--------------------+----+
|            car name| mpg|
+--------------------+----+
|chevrolet chevell...|18.0|
|   buick skylark 320|15.0|
|  plymouth satellite|18.0|
|       amc rebel sst|16.0|
|         ford torino|17.0|
+--------------------+----+
only showing top 5 rows

In [0]:
### Rename the column mpg with miles_per_gallon
df=df1.withColumnRenamed("mpg","mpg_per_gallon")
df.show(5)

+--------------+---+-----+---+----+----+---+------+--------------------+
|mpg_per_gallon|cyl| disp| hp|  wt| acc| yr|origin|            car name|
+--------------+---+-----+---+----+----+---+------+--------------------+
|          18.0|  8|307.0|130|3504|12.0| 70|     1|chevrolet chevell...|
|          15.0|  8|350.0|165|3693|11.5| 70|     1|   buick skylark 320|
|          18.0|  8|318.0|150|3436|11.0| 70|     1|  plymouth satellite|
|          16.0|  8|304.0|150|3433|12.0| 70|     1|       amc rebel sst|
|          17.0|  8|302.0|140|3449|10.5| 70|     1|         ford torino|
+--------------+---+-----+---+----+----+---+------+--------------------+
only showing top 5 rows

In [0]:
### Calculate average mpg for each cylinders group
df1.groupBy("cyl").agg({"mpg": "avg"}).show(10)

+---+------------------+
|cyl|          avg(mpg)|
+---+------------------+
|  6|19.985714285714284|
|  3|             20.55|
|  5|27.366666666666664|
|  4| 29.28676470588236|
|  8|14.963106796116508|
+---+------------------+

In [0]:
df2=df1.filter(df.hp !="?")

In [0]:
df2.show()

+----+---+-----+---+----+----+---+------+--------------------+
| mpg|cyl| disp| hp|  wt| acc| yr|origin|            car name|
+----+---+-----+---+----+----+---+------+--------------------+
|18.0|  8|307.0|130|3504|12.0| 70|     1|chevrolet chevell...|
|15.0|  8|350.0|165|3693|11.5| 70|     1|   buick skylark 320|
|18.0|  8|318.0|150|3436|11.0| 70|     1|  plymouth satellite|
|16.0|  8|304.0|150|3433|12.0| 70|     1|       amc rebel sst|
|17.0|  8|302.0|140|3449|10.5| 70|     1|         ford torino|
|15.0|  8|429.0|198|4341|10.0| 70|     1|    ford galaxie 500|
|14.0|  8|454.0|220|4354| 9.0| 70|     1|    chevrolet impala|
|14.0|  8|440.0|215|4312| 8.5| 70|     1|   plymouth fury iii|
|14.0|  8|455.0|225|4425|10.0| 70|     1|    pontiac catalina|
|15.0|  8|390.0|190|3850| 8.5| 70|     1|  amc ambassador dpl|
|15.0|  8|383.0|170|3563|10.0| 70|     1| dodge challenger se|
|14.0|  8|340.0|160|3609| 8.0| 70|     1|  plymouth 'cuda 340|
|15.0|  8|400.0|150|3761| 9.5| 70|     1|chevrolet monte c...|
|14.0|  8|455.0|225|3086|10.0| 70|     1|buick estate wago...|
|24.0|  4|113.0| 95|2372|15.0| 70|     3|toyota corona mar...|
|22.0|  6|198.0| 95|2833|15.5| 70|     1|     plymouth duster|
|18.0|  6|199.0| 97|2774|15.5| 70|     1|          amc hornet|
|21.0|  6|200.0| 85|2587|16.0| 70|     1|       ford maverick|
|27.0|  4| 97.0| 88|2130|14.5| 70|     3|        datsun pl510|
|26.0|  4| 97.0| 46|1835|20.5| 70|     2|volkswagen 1131 d...|
+----+---+-----+---+----+----+---+------+--------------------+
only showing top 20 rows

In [0]:
### Sort the dataframe by horsepower in descending order
df2.orderBy(df2.hp.desc()).show(5)

+----+---+-----+---+----+----+---+------+------------+
| mpg|cyl| disp| hp|  wt| acc| yr|origin|    car name|
+----+---+-----+---+----+----+---+------+------------+
|22.0|  4|121.0| 98|2945|14.5| 75|     2| volvo 244dl|
|18.5|  6|250.0| 98|3525|19.0| 77|     1|ford granada|
|24.0|  4|119.0| 97|2545|17.0| 75|     3|  datsun 710|
|18.0|  6|199.0| 97|2774|15.5| 70|     1|  amc hornet|
|18.0|  6|171.0| 97|2984|14.5| 75|     1|  ford pinto|
+----+---+-----+---+----+----+---+------+------------+
only showing top 5 rows

The above gives wrong result

Change the data type of hp to float or int

In [0]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType

In [0]:
df3 = df1.withColumn("hp",col("hp").cast(IntegerType())).filter(df1.hp != "?")
df3.orderBy(df3.hp.desc()).show(5)

+----+---+-----+---+----+----+---+------+--------------------+
| mpg|cyl| disp| hp|  wt| acc| yr|origin|            car name|
+----+---+-----+---+----+----+---+------+--------------------+
|16.0|  8|400.0|230|4278| 9.5| 73|     1|  pontiac grand prix|
|14.0|  8|455.0|225|3086|10.0| 70|     1|buick estate wago...|
|14.0|  8|455.0|225|4425|10.0| 70|     1|    pontiac catalina|
|12.0|  8|455.0|225|4951|11.0| 73|     1|buick electra 225...|
|14.0|  8|454.0|220|4354| 9.0| 70|     1|    chevrolet impala|
+----+---+-----+---+----+----+---+------+--------------------+
only showing top 5 rows